<%- include('./../partials/head.ejs') %> 
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
<%- include('./../partials/navigation.ejs')%>
<main>
  <% if(prod.length) {%>
  <section class="productContainer">
    <% for(i of prod)  { %>
    <div class="product">
      <div class="imageContainer">
        <img src="<%= i.image %>" alt="no image">
          <form action="/deleteProduct" method="POST">
          <div class="productHover">
            <a href="/editProduct/<%= i.id%>?edit=true">
              <i class="fa-solid fa-pen-to-square fa-lg"></i>
            </a>
           <button class="buttonInvisible" type="submit"><i class="fa-solid fa-trash fa-lg"></i></button>
            <a href="/viewProduct/<%= i.id%>"> <i class="fa-solid fa-eye fa-lg"></i></a>
          </div>
          <input type="hidden" name="id" value="<%= i.id%>">
        </form>
      </div>
      <div class="title"><%= i.title %></div>
      <div class="description"><%= i.description %></div>
      <div class="price">₹ <%= i.price %></div>
      <%- include('./../partials/addCart.ejs', {prod : i})%>
    </div>
    <% } %>
  </section>
  <% } else {%>
  <p>No products</p>
  <% } %>
</main>
<%- include('./../partials/end.ejs') %>
